* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(229 231 235);
}

header {
    background: rgba(0, 0, 0, .65) url(../img/bookshelf.gif);
    background-blend-mode: darken;
    background-position: 50% 35%;
    background-size: cover;
    color: white;
}

header > div, nav, .input-section, .button-action, .book-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > div {
    margin: 0 auto;
    width: 80%;
    padding: 5em;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

nav {
    background: rgba(0, 0, 0, .65);
}

nav > div {
    padding: 1rem;
    width: 70%;
}

h2 {
    margin: 2rem 0;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.search > input, .input > input {
    padding: 10px 15px;
    width: 100%;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    appearance: none;
    border-radius: 0.5rem;
    line-height: 1.25;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    position: relative;
    border: none;
}

input:focus {
    outline: none;
}

.input-section {
    width: 90%;
    margin: 0 auto;
}

main {
    width: 70%;
    margin: 0 auto;
}

main > section {
    flex-direction: column;
}

main > section > form {
    width: 100%;
}

.input, .input_inline {
    margin-bottom: 1rem;
}

#inputBook > button, .button-action > button, .modal-button-action > button {
    color: white;
    border: 0;
    border-radius: 0.5rem;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

#bookSubmit {
    background-color: #6b7280;
}

#inputBook > button > span {
    font-weight: bold;
}

.shelf-section {
    margin-bottom: 2rem;
}

.book-card-container {
    justify-content: start;
    gap: 1rem;
    flex-wrap: wrap;
}

.book-card {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 20rem;
}

.button-action {
    flex-direction: column;
}

.button-action > button {
    text-align: start;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
}

#search-button {
    text-align: start;
    border-radius: 0.25rem;
    padding: 0.5rem 3rem;
    background-color: #6b7280;
    color: white;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border: 0;
    cursor: pointer;
}

.red-button {
    background-color: #ef4444;
}

.green-button {
    background-color: #34d399;
}

.modal-container {
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.modal {
    background-color: white;
    width: 30%;
    height: 35%;
    border-radius: 0.5rem;
    padding: 3rem;
}

.modal-button-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.confirm-text {
    margin: 1rem 0;
    text-align: center;
    font-weight: 600;
}